.loginBtn {
    margin: 20px 0px;
    float: right;
}

.signupBtn {
    margin: 20px 0px;
    float: left;
}
.deleteIDBtn {
    margin: 20px 20px 0px 20px;
    float: left;
}

.toLoginFormBtn {
    margin: 20px 0px;
    float: left;
}

.toLoginFormBtn:hover, .deleteIDBtn:hover {
    background-color:red;
    color:white;
    transition: 0.7s;
}

.signupIdSaveBtn {
    margin: 20px 0px;
    float: right;
}

.signupIdSaveBtn:hover, .signupBtn:hover, .loginBtn:hover {
    background-color:#002ead;
    color:white;
    transition: 0.7s;
}