.addBtn {
    float: left;
    margin-bottom: 40px;
}

.addBtn:hover {
    background-color:#002ead;
    color:white;
    transition: 0.7s;
}

.deleteBtn {
    color: red;
    margin-bottom: 0px;
}


.todoTableRow > th, .todoTableRow > td{
    text-align: center;
}

.tdChk {
    padding: 12px 8px 8px 8px;
    text-align: center;
    vertical-align: middle;
}

.inputChk {
    width: 32px;
    height: 32px;
    margin: 0px 0px;
}

.todoTableRow > td > input[type='checkbox']{
    padding-top: 20px;
}

.logOutBtn {
    float: left;
    margin: 100px 0px;
}

.logOutBtn:hover, .unCheckAll:hover {
    background-color:red;
    color:white;
    transition: 0.7s;
}

.todoCheckOutBtn {
    float: right;
    margin: 100px 0px;
}

.todoCheckOutBtn:hover {
    background-color: aquamarine;
    color: white;
    transition: 0.3s
}
.unCheckAll {
    float: right;
    margin-bottom: 40px;
}