.addBtn {
    float: left;
}

.deleteBtn {
    color: red;
}

.todoTableRow > th, .todoTableRow > td{
    text-align: center;
}

.todoTableRow > td > input{
    width: 18px;
    height: 18px;
}

.logOutBtn {
    float: left;
    margin-top: 100px;
}