.addBtn {
    float: left;
}

.addBtn:hover {
    background-color:#002ead;
    color:white;
    transition: 0.7s;
}

.deleteBtn {
    color: red;
}

.todoTableRow > th, .todoTableRow > td{
    text-align: center;
}

.todoTableRow > td > input{
    width: 18px;
    height: 18px;
}

.logOutBtn {
    float: left;
    margin-top: 100px;
}

.logOutBtn:hover {
    background-color:red;
    color:white;
    transition: 0.7s;
}